/*  */
/* General */
/*  */

body,
#om-space {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
	background: black;
}

/*  */
/* Scrollbars */
/*  */

#om-desktop::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

#om-desktop::-webkit-scrollbar-track {
	background: #e8dfd8;
}

#om-desktop::-webkit-scrollbar-thumb {
	background: #cd2430;
	border-radius: var(--size-2);
}

#om-desktop::-webkit-scrollbar-thumb:hover {
	background: #454545;
}

#om-desktop::-webkit-scrollbar-corner {
	background: #e8dfd8;
}
