/*
// Icon Font
*/

@font-face {
	font-family: "Material Symbols";
	src: url("/modules/common/material-symbols.ttf");
	font-weight: 100 700;
}

/* Custom icon tag styles */
icon {
	font-family: "Material Symbols";
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	overflow: hidden;
}

/* Non-intrusive pseudo-element for rendering ligatures */
icon::before {
	content: attr(name);
	display: inline-block;
}
