[om-applet] {
	will-change: left, top, width, height;
	box-shadow: var(--fast-thickness-1);
	transition: box-shadow var(--ease-short) 150ms;
}

[om-motion="elevated"] {
	box-shadow: var(--fast-elevation-1) !important;
}
