:root {
	--font-default: "Inter", sans-serif;
	--font-monospace: "Jetbrains Mono", monospace;
}

/*
1. Prevent padding and border from affecting element width.
2. Remove default margins and padding
3. Reset all borders.
*/

*,
::after,
::before {
	box-sizing: border-box; /* 1 */
	margin: 0; /* 2 */
	padding: 0; /* 2 */
	border: 0 solid; /* 3 */
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use system font stack.
5. Disable tap highlights on iOS.
*/

html {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	tab-size: 4; /* 3 */
	font-family: var(--font-default); /* 4 */
	-webkit-tap-highlight-color: transparent; /* 5 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox.
3. Reset the default border style to a 1px solid border.
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
	border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
	color: inherit;
	text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/*
1. Use monospace font family.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family: var(--font-monospace); /* 1 */
	font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari.
2. Correct table border color inheritance in all Chrome and Safari.
3. Remove gaps between table borders by default.
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
	border-collapse: collapse; /* 3 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

/*:-moz-focusring {
	outline: auto;
}*/

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/*
Make lists unstyled by default.
*/

ol,
ul,
menu {
	list-style: none;
}

/*
1. Make replaced elements `display: block` by default.
2. Add `vertical-align: middle` to align replaced elements more sensibly by default.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio.
*/

img,
video {
	max-width: 100%;
	height: auto;
}

/*
1. Inherit font styles in all browsers.
2. Remove border radius in all browsers.
3. Remove background color in all browsers.
*/

button,
input,
select,
optgroup,
textarea {
	font-family: inherit; /* 1 */
	font-size: inherit; /* 1 */
	font-weight: inherit; /* 1 */
	line-height: inherit; /* 1 */
	color: inherit; /* 1 */
	border-radius: 0; /* 2 */
	background-color: transparent; /* 3 */
	text-align: left;
}

/*
Reset the default placeholder opacity in Firefox.
*/

::placeholder {
	opacity: 1;
	color: #9ca3af;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
	resize: vertical;
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
Remove excess padding from pseudo-elements in date/time inputs.
*/

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
	padding: 0;
}

/*
Remove the additional `:invalid` styles in Firefox.
*/

/*:-moz-ui-invalid {
	box-shadow: none;
}*/

/*
Correct the inability to style the border radius in iOS Safari.
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/*
Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden] {
	display: none !important;
}
